<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<h1>Přehled</h1>
<div class="seznam">
    <div th:each="zaznam : ${post}" class="nahled">
        <div class="title" th:text="${zaznam.title}">Titulek</div>
        <div class="perex" th:utext="${zaznam.perex}">Perex</div>
        <div class="author" th:text="${zaznam.author}">Author</div>
        <div class="vydani" th:text="${zaznam.published}">Published</div>
        <a th:href="@{/post/{slug}(slug=${zaznam.slug})}"href="/detail">Přečíst</a>
    </div>
    <div class="pager">
        <a th:each="pageNumber : ${#numbers.sequence(0,post.totalPages-1)}"
           th:href="@{/(size=${post.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           class="page"
           th:classappend="${pageNumber==post.number} ? 'active'"></a>
    </div>
</div>
</body>
</html>
